@model Vaccinatedclient.multi_Models.homevm



<div class="insights">
    <div class="sales">
        <center>
            <img src="~/images/icons8-abacus-50.png" alt="sales">
        </center>
        <h1>
            @Model.hospital مستشفى
        </h1>
        <h2>عدد المستشفيات</h2>
    </div>

    <div class="sales">
        <center>
            <img src="~/images/icons8-abacus-50.png" alt="sales">
        </center>
        <h1>
            @Model.parents ولي أمر
        </h1>
        <h2>عدد أولياء الأمور</h2>
    </div>

    <div class="sales">
        <center>
            <img src="~/images/icons8-abacus-50.png" alt="sales">
        </center>
        <h1>
            @Model.kids الأطفال
        </h1>
        <h2>عدد طفل</h2>
    </div>

    <div class="sales">
        <center>
            <img src="~/images/icons8-abacus-50.png" alt="sales">
        </center>
        <h1>
            @Model.advices نصيحة
        </h1>
        <h2>عدد النصائح</h2>
    </div>

</div>